<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>191128ax_cb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,686},{45,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,31}}</string>
                <key>sourceSize</key>
                <string>{45,31}</string>
            </dict>
            <key>191128ax_cb04.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,570},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>191128ax_cb05.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,578},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>191128wfA_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{128,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,139}}</string>
                <key>sourceSize</key>
                <string>{128,139}</string>
            </dict>
            <key>191128wfB_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,189},{176,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,177}}</string>
                <key>sourceSize</key>
                <string>{176,177}</string>
            </dict>
            <key>191128wfB_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,367},{176,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,180}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>191128wfC_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,678},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>191128wfC_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,254},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>191128wfC_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,991},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>191128wfC_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,254},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>191128wfD_a1x.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,236},{60,58}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>191128wfD_b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,503},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,59}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>191128wfD_b1x.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,496},{77,75}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{77,75}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>191128wfD_c1x.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,352},{66,61}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,61}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>191128wfD_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1020},{1,1}}</string>
                <key>offset</key>
                <string>{-11.5,11.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>191128wf_T_xingxing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,991},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>191128wfdq_h_149541.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,661},{62,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{62,57}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>191128wfdq_h_198927.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,622},{54,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{54,50}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>191128wfdq_h_233942.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,622},{96,89}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{96,89}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>191128wfdq_h_248835.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,323},{84,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{84,78}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>191128wfdq_h_287681.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,296},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>191128wfdq_h_336190.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,958},{69,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{69,64}}</string>
                <key>sourceSize</key>
                <string>{91,86}</string>
            </dict>
            <key>191128wfdq_h_396786.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,323},{253,209}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,32},{253,209}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>191128wfdq_h_471775.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,573},{51,47}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{51,47}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>191128wfdq_h_506480.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,686},{33,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{33,32}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>191128wfdq_h_52115.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,869},{174,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,150}}</string>
                <key>sourceSize</key>
                <string>{174,150}</string>
            </dict>
            <key>191128wfdq_h_527858.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,564},{62,56}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{62,56}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>191128wfdq_h_531177.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,869},{92,87}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{92,87}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>191128wfdq_h_540754.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,549},{189,175}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,31},{189,175}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>191128wfdq_h_563986.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,243},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>191128wfdq_h_619001.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,616},{251,235}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,40},{251,235}}</string>
                <key>sourceSize</key>
                <string>{339,339}</string>
            </dict>
            <key>191128wfdq_h_632643.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,720},{157,147}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{157,147}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>191128wfdq_h_704293.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,883},{135,127}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,34},{135,127}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>191128wfdq_h_874899.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,740},{76,70}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{76,70}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>191128wfdq_h_919867.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,570},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{45,44}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>191128wfdq_h_929413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{265,247}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,34},{265,247}}</string>
                <key>sourceSize</key>
                <string>{339,339}</string>
            </dict>
            <key>191128wfkong.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1020},{1,1}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>191128wflhyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,254},{232,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{232,66}}</string>
                <key>sourceSize</key>
                <string>{232,68}</string>
            </dict>
            <key>20191101wsj_xlyh04.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{185,178}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{185,178}}</string>
                <key>sourceSize</key>
                <string>{201,184}</string>
            </dict>
            <key>20191101wsj_xlyh05.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,828},{196,194}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{196,194}}</string>
                <key>sourceSize</key>
                <string>{218,200}</string>
            </dict>
            <key>20191128gejyr_shop_zptx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,812},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>2019piaodaitx_17012.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,243},{3,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,16}}</string>
                <key>sourceSize</key>
                <string>{3,16}</string>
            </dict>
            <key>2019piaodaitx_189332.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,869},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>2019piaodaitx_233725.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,869},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>2019piaodaitx_238788.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,248},{3,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,16}}</string>
                <key>sourceSize</key>
                <string>{3,16}</string>
            </dict>
            <key>2019piaodaitx_247433.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,869},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>2019piaodaitx_295055.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,883},{34,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,14}}</string>
                <key>sourceSize</key>
                <string>{34,14}</string>
            </dict>
            <key>2019piaodaitx_312874.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,869},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>2019piaodaitx_328485.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,869},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>2019piaodaitx_335624.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,243},{3,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,16}}</string>
                <key>sourceSize</key>
                <string>{3,16}</string>
            </dict>
            <key>2019piaodaitx_344583.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,869},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>2019piaodaitx_357056.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,869},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>2019piaodaitx_380471.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,919},{34,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,14}}</string>
                <key>sourceSize</key>
                <string>{34,14}</string>
            </dict>
            <key>2019piaodaitx_389325.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,991},{29,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,18}}</string>
                <key>sourceSize</key>
                <string>{29,18}</string>
            </dict>
            <key>2019piaodaitx_456232.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,248},{3,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,16}}</string>
                <key>sourceSize</key>
                <string>{3,16}</string>
            </dict>
            <key>2019piaodaitx_503604.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,955},{34,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,14}}</string>
                <key>sourceSize</key>
                <string>{34,14}</string>
            </dict>
            <key>2019piaodaitx_524838.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,812},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>2019piaodaitx_555456.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,812},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>2019piaodaitx_599854.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,243},{3,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,16}}</string>
                <key>sourceSize</key>
                <string>{3,16}</string>
            </dict>
            <key>2019piaodaitx_607131.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,812},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>2019piaodaitx_610756.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,869},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>2019piaodaitx_637461.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,991},{29,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,18}}</string>
                <key>sourceSize</key>
                <string>{29,18}</string>
            </dict>
            <key>2019piaodaitx_679654.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,248},{3,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,16}}</string>
                <key>sourceSize</key>
                <string>{3,16}</string>
            </dict>
            <key>2019piaodaitx_693742.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,869},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>2019piaodaitx_726025.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,248},{3,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,16}}</string>
                <key>sourceSize</key>
                <string>{3,16}</string>
            </dict>
            <key>2019piaodaitx_727021.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,869},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>2019piaodaitx_745229.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,991},{29,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,18}}</string>
                <key>sourceSize</key>
                <string>{29,18}</string>
            </dict>
            <key>2019piaodaitx_776349.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,243},{3,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,16}}</string>
                <key>sourceSize</key>
                <string>{3,16}</string>
            </dict>
            <key>2019piaodaitx_893497.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,991},{29,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,18}}</string>
                <key>sourceSize</key>
                <string>{29,18}</string>
            </dict>
            <key>2019piaodaitx_895430.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,991},{29,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,18}}</string>
                <key>sourceSize</key>
                <string>{29,18}</string>
            </dict>
            <key>2019piaodaitx_901777.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,991},{29,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,18}}</string>
                <key>sourceSize</key>
                <string>{29,18}</string>
            </dict>
            <key>2019piaodaitx_907449.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,869},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>2019piaodaitx_916844.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,955},{34,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,14}}</string>
                <key>sourceSize</key>
                <string>{34,14}</string>
            </dict>
            <key>2019piaodaitx_929314.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,812},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>2019piaodaitx_933168.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,812},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>TXY6CH_beibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,883},{139,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{139,98}}</string>
                <key>sourceSize</key>
                <string>{141,102}</string>
            </dict>
            <key>TXY6CH_beidaiR.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,958},{21,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,56}}</string>
                <key>sourceSize</key>
                <string>{21,56}</string>
            </dict>
            <key>TXY6CH_dabiL02.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,616},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>TXY6CH_datuiR.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,420},{62,81}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{62,85}</string>
            </dict>
            <key>TXY6CH_liuhai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,409},{85,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,77}}</string>
                <key>sourceSize</key>
                <string>{85,77}</string>
            </dict>
            <key>TXY6CH_meiL.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,991},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>TXY6CH_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,578},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>TXY6CH_shou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,991},{31,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,24}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>TXY6CH_shou09.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,991},{35,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,31}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>TXY6CH_shou11.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,578},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>TXY6CH_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,323},{245,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,243}}</string>
                <key>sourceSize</key>
                <string>{245,243}</string>
            </dict>
            <key>TXY6CH_xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,578},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>TXY6CH_yanR.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,686},{32,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,65}}</string>
                <key>sourceSize</key>
                <string>{32,65}</string>
            </dict>
            <key>TXY6CH_yanR05.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,578},{36,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,61}}</string>
                <key>sourceSize</key>
                <string>{36,61}</string>
            </dict>
            <key>TXY6CH_yanR06.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,678},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>TXY6CH_zui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,573},{47,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,24}}</string>
                <key>sourceSize</key>
                <string>{47,24}</string>
            </dict>
            <key>XBL6_yin.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{232,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,74}}</string>
                <key>sourceSize</key>
                <string>{232,74}</string>
            </dict>
            <key>gqj_dabaoqipao_138884.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,570},{114,146}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{114,146}}</string>
                <key>sourceSize</key>
                <string>{146,210}</string>
            </dict>
            <key>gqj_dabaoqipao_537165.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,319}}</string>
                <key>sourceSize</key>
                <string>{317,319}</string>
            </dict>
            <key>gqj_dabaoqipao_545233.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1020},{1,1}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>gqj_dabaoqipao_629547.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,740},{85,99}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{85,99}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>knbvcxaaax.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,720},{106,195}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,195}}</string>
                <key>sourceSize</key>
                <string>{114,201}</string>
            </dict>
            <key>shan_guang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,827},{175,162}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{175,162}}</string>
                <key>sourceSize</key>
                <string>{195,168}</string>
            </dict>
            <key>shan_guang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{248,250}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{248,250}}</string>
                <key>sourceSize</key>
                <string>{296,280}</string>
            </dict>
            <key>shan_guang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,2},{195,239}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{195,239}}</string>
                <key>sourceSize</key>
                <string>{235,261}</string>
            </dict>
            <key>shan_guang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{291,241}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{291,241}}</string>
                <key>sourceSize</key>
                <string>{341,273}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>191128wf_dc_ios0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf464a1cdb281e44612c6d6720b5002e:1/2$</string>
            <key>textureFileName</key>
            <string>191128wf_dc_ios0.png</string>
        </dict>
    </dict>
</plist>
