<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,322},{71,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,20}}</string>
                <key>sourceSize</key>
                <string>{71,20}</string>
            </dict>
            <key>191225jb_yuma03.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,570},{48,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,82}}</string>
                <key>sourceSize</key>
                <string>{48,82}</string>
            </dict>
            <key>191225jb_yumao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,290},{30,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,52}}</string>
                <key>sourceSize</key>
                <string>{30,52}</string>
            </dict>
            <key>191225yr_lu01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{309,145}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{309,145}}</string>
                <key>sourceSize</key>
                <string>{353,211}</string>
            </dict>
            <key>191225yr_lu01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{309,145}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,30},{309,145}}</string>
                <key>sourceSize</key>
                <string>{353,211}</string>
            </dict>
            <key>191225yr_lu02a.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,620},{285,154}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{285,154}}</string>
                <key>sourceSize</key>
                <string>{323,188}</string>
            </dict>
            <key>191225yr_lu02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{285,172}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{285,172}}</string>
                <key>sourceSize</key>
                <string>{323,188}</string>
            </dict>
            <key>191225yr_lu05b.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,179},{150,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{150,80}}</string>
                <key>sourceSize</key>
                <string>{172,96}</string>
            </dict>
            <key>191225yr_mb6_tx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,934},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>191225yr_mb6_tx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,852},{90,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>191225yr_shu_yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{286,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{286,63}}</string>
                <key>sourceSize</key>
                <string>{302,73}</string>
            </dict>
            <key>191225yr_wazi_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,569},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>191225yr_wazi_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,570},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,46}}</string>
                <key>sourceSize</key>
                <string>{54,46}</string>
            </dict>
            <key>191225yr_wazi_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,570},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>191225yr_wazi_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,495},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>191225yr_wazi_1_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,986},{51,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,22}}</string>
                <key>sourceSize</key>
                <string>{51,22}</string>
            </dict>
            <key>191225yr_xh.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,261},{130,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,136}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>191225yrdj01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,115},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,52}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>191225yrdj01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,289},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>191225yrdj02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,945},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>191225yrdj03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,289},{37,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,24}}</string>
                <key>sourceSize</key>
                <string>{37,24}</string>
            </dict>
            <key>191225yrdj03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,215},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>191225yrdj03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,290},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>191225yrdj03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,289},{28,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,50}}</string>
                <key>sourceSize</key>
                <string>{28,50}</string>
            </dict>
            <key>191225yrdj03_15mov.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,546},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>191225yrdj03_15mov2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,289},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>191225yrdj03_tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,673},{158,179}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{158,179}}</string>
                <key>sourceSize</key>
                <string>{198,211}</string>
            </dict>
            <key>191225yrdj04_01x.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,289},{30,30}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>191225yrdj04_02x.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,854},{32,32}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>191225yrdj04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,907},{114,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,60}}</string>
                <key>sourceSize</key>
                <string>{114,60}</string>
            </dict>
            <key>191225yrdj04_04b.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,873},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>191225yrld_tx_ui_che_guan_xx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,425},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>191225yrld_tx_ui_che_guan_xx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,425},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>191225yrld_tx_ui_che_guan_xx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,425},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>191225yrvip_xxb.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,169},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,50}</string>
            </dict>
            <key>191225yrvip_xxbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,762},{88,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{88,90}}</string>
                <key>sourceSize</key>
                <string>{112,108}</string>
            </dict>
            <key>191225yryf_3_fa.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,475},{98,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{98,92}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>191225yryf_4_fa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,945},{76,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{76,91}}</string>
                <key>sourceSize</key>
                <string>{82,103}</string>
            </dict>
            <key>20191101wsj_uirukouguangxiao_875229.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,907},{24,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>20191101wsyyr_getxingx_gx_001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,319}}</string>
                <key>sourceSize</key>
                <string>{317,319}</string>
            </dict>
            <key>20191101wsyyr_getxingx_gx_008_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,859},{163,161}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,19},{163,161}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>20191101wsyyr_gx_001_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,619},{238,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,225}}</string>
                <key>sourceSize</key>
                <string>{238,225}</string>
            </dict>
            <key>20191101wsyyr_gx_001_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,322},{244,246}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{244,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20191101wsyyr_ui_lihe_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,229},{202,194}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{202,194}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>fasg_shan_3874.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,55}}</string>
                <key>sourceSize</key>
                <string>{51,59}</string>
            </dict>
            <key>fasg_shan_6395.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,907},{95,109}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,43},{95,109}}</string>
                <key>sourceSize</key>
                <string>{169,185}</string>
            </dict>
            <key>mmm_guanxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,873},{142,143}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{142,143}}</string>
                <key>sourceSize</key>
                <string>{158,149}</string>
            </dict>
            <key>yytx_h_198927.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,934},{54,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{54,50}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>yytx_h_248835.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,934},{84,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{84,78}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>yytx_h_264813.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,399},{76,74}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>yytx_h_287681.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,53},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>yytx_h_295358.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,399},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>yytx_h_396786.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{225,209}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,32},{225,209}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>yytx_h_412393.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,474},{228,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,197}}</string>
                <key>sourceSize</key>
                <string>{228,197}</string>
            </dict>
            <key>yytx_h_469218.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,569},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{39,38}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>yytx_h_471775.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,570},{51,47}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{51,47}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>yytx_h_506480.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,399},{33,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{33,32}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>yytx_h_531177.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,673},{92,87}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{92,87}}</string>
                <key>sourceSize</key>
                <string>{114,107}</string>
            </dict>
            <key>yytx_h_539888.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,229},{58,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{58,55}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>yytx_h_540754.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{189,175}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,31},{189,175}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>yytx_h_563986.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,854},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>yytx_h_619001.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,620},{251,235}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,40},{251,235}}</string>
                <key>sourceSize</key>
                <string>{339,339}</string>
            </dict>
            <key>yytx_h_632643.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,873},{157,147}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{157,147}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>yytx_h_639129.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,433},{41,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{41,39}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>yytx_h_649216.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,179},{37,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{37,34}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>yytx_h_665180.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,570},{47,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{47,45}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>yytx_h_718505.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,450},{44,43}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{44,43}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>yytx_h_82596.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,261},{59,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{59,56}}</string>
                <key>sourceSize</key>
                <string>{81,76}</string>
            </dict>
            <key>yytx_h_929413.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,323},{295,247}}</string>
                <key>offset</key>
                <string>{22,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,34},{295,247}}</string>
                <key>sourceSize</key>
                <string>{339,339}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>191225yr_dc_ios1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e40b2437df12c42eda3ea5fface2e12a:2/3$</string>
            <key>textureFileName</key>
            <string>191225yr_dc_ios1.png</string>
        </dict>
    </dict>
</plist>
