<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZC_small01_03di.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,616},{375,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,233}}</string>
                <key>sourceSize</key>
                <string>{375,233}</string>
            </dict>
            <key>ZC_small01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{394,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,394}}</string>
                <key>sourceSize</key>
                <string>{394,394}</string>
            </dict>
            <key>ZC_small01_06s.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,616},{369,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,369}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>ZC_small01_07a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{902,612}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{902,612}}</string>
                <key>sourceSize</key>
                <string>{902,616}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_ZC_ios0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b17d6f3a6f6191febddc6208319c4802:1/2$</string>
            <key>textureFileName</key>
            <string>home_ZC_ios0.png</string>
        </dict>
    </dict>
</plist>
