<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>191225_rukoudeng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{374,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,420}}</string>
                <key>sourceSize</key>
                <string>{374,420}</string>
            </dict>
            <key>191225_rukoudeng3xj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{374,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,420}}</string>
                <key>sourceSize</key>
                <string>{374,420}</string>
            </dict>
            <key>20191101_rukou_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{78,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,323}}</string>
                <key>sourceSize</key>
                <string>{78,323}</string>
            </dict>
            <key>20191101wsj_tx_ui_che_guan_xx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,327},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>20191101wsj_tx_ui_che_guan_xx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,327},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>20191101wsj_tx_ui_che_guan_xx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,367},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>20191101wsj_uirukouguangxiao_547268.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{112,144}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{112,144}}</string>
                <key>sourceSize</key>
                <string>{162,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>191225UIrukou_ios0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57703be36756e1ec283d2d48b2e8dedd:1/1$</string>
            <key>textureFileName</key>
            <string>191225UIrukou_ios0.png</string>
        </dict>
    </dict>
</plist>
